<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
	    <li><a href="/"><i class="glyphicon glyphicon-home"></i> </a></li>
       <li><a href="/user">用户</a></li>
       <li class="active">用户列表</li>
    </ol> 
    <ul class="nav nav-tabs">
      <li class="active"><a href="/user"><i class="glyphicon glyphicon-list"> </i> 用户列表</a></li>
      <li><a href="/user/add"><i class="glyphicon glyphicon-plus"> </i> 新增用户</a></li>
           <li><a href="/user/rights"><i class="glyphicon glyphicon-list"> </i> 权限列表</a></li>
    
    </ul>
   </div>
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>
<div class="row">
  <div class="col-md-12">
  <table id="usertable" class="table table-hover table-striped table-bordered">
	  <thead>
		  <tr><th>用户名</th><th>Email</th><th>权限</th><th>操作</th></tr>
	  </thead>
	  <tbody>
    {{ range .Users }}
       <tr><td>{{ .Name}}</td>
	   <td>{{ .Email }}</td>
	   <td>{{ .Rights.Rname }}</td>
           <td>
		   <button class="btn btn-info" onclick="return edituser({{.Id}}, {{.Name}})"><i class="glyphicon glyphicon-edit"> </i>编辑</button>
		   <button  class="btn btn-danger" onclick="return deleteuser({{.Id}})"><i class="glyphicon glyphicon-remove"> </i>删除</button>
           </td>
       </tr>
    {{end}}
	  </tbody>
  </table>
  </div>
</div>

	
<script>

	$(document).ready(function() {
              $('#usertable').DataTable();
	});

        function deleteuser(id){
             layer.confirm("确认要删除吗?",{
	                 btn : [ '确定', '取消' ]//按钮
	             }, function(index) {
	                 layer.close(index);
			     $.post('/user/delete/'+ id, function(data){
				     if(data.status){
				         layer.msg("删除成功",{icon: 1});
					     setTimeout(function(){ $(window).attr('location','/user'); }, 2000);    
				     }else{
					     layer.msg("删除失败", {icon: 2});
				     }
			     });
		     }

	     );
	}

        function edituser(id, name){
		layer.open({
			type: 2,
			title: "编辑用户 ["+name+"] 信息",
			skin: 'layui-layer-lan',
			area: ['600px','280px'],
			btn: ['取消','保存'],
			btn2: function(index, layero){
                            var data = $(layero).find("iframe")[0].contentWindow.EditUser();
                            if(data){
                                fun(data);
                            }
                            return false;			    
			},
			content: '/user/edit/' + id,
		});
	}
</script>
