<!DOCTYPE html>
<html>
  <head><title>Login</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="/static/css/bootstrap.min.css">
  <script type="text/javascript" src="/static/js/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </head>

<body>
   <div class="row padding-bottom-200 padding-top-50">
              <div class="col-sm-4 col-sm-offset-3 form-box padding-tb-100 bg-color-white">
                        <div class="form-top">
                                        <div class="form-top-left">
                                                <h3 class="text-success">请登录</h3>
                                        <p class="text-success">Enter your username and password to log on:</p>
                                        </div>
                        </div>
                        <div class="form-bottom">
				    <div id="showinfo"></div>
                                    <form>
                                        <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" id="username" placeholder="Username" class="form-username form-control">
                                        </div>
                                        <div class="form-group">
                                                <label class="sr-only" for="form-password">Password</label>
                                                <input type="password" id="password" placeholder="Password" class="form-password form-control">
                                        </div>
                                        <button id="btn1"  class="btn btn-success">登录</button>
                                    </form>
                       </div>
                               <div style="padding-top:15px;">
                                          <p><a href="/register" class="text-success">注册新账户</a></p>
                               </div>
               </div>
   </div>

	<script>
		$(document).ready(function(){	
			$("#btn1").on("click", function(){
				var userv = $.trim($("#username").val())
				var passv = $.trim($("#password").val())
				$.ajax({
					url: '/login',
					type: 'post',
					async: 'true',
					data: {username: userv, password: passv},
					timeout: 5000,
					dataType:'json',
					beforeSend:function(xhr){
						console.log('发送前')
					},
					success: function(data){
						if(data.status){
					    	       $(window).attr('location','/');
						}else{
							$("#showinfo").empty();
							$("#showinfo").addClass("alert alert-warning");
							$("#showinfo").append(data.info);
							return false;
						}
					},
					error:function(xhr,textStatus){
						console.log(xhr)
						console.log(textStatus)
						return false;
					},
				});
				return false;
			});
		});
 </script>

</body>
</html>
