body{
	background: #ffffff;
        /* padding-top: 55px; */
}

/*****  background color ***********/
.bg-color-grey{
	background: #dddddd;
}

.bg-color-white{
	background: white;
}

.bg-color-red{
       background: rgba(240,100,80, 0.3);
}

.bg-color-primary{
        background: #337ab7;
        border-color: #337ab7;
    border-top-color: rgb(51, 122, 183);
    border-right-color: rgb(51, 122, 183);
    border-bottom-color: rgb(51, 122, 183);
    border-left-color: rgb(51, 122, 183);
}

/******* text color *****************/
.red{
   color: rgba(250, 80, 50, 0.4);
}


/******************/
.margin-tb-10{
	margin-top:10px;
	margin-bottom: 10px;
}

.margin-auto{
	margin: 0 auto;
}

.margin-top-5{
	margin-top: 5px;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-bottom-5{
	margin-bottom: 5px;
}

.margin-bottom-20{
        margin-bottom: 20px;
}

.padding-auto-0{
	padding: 0;
}

.padding-auto-5{
	padding-left: 5px;
	padding-right: 5px;
}

.padding-auto-15{
	padding: 15px, 15px, 15px, 15px;
}

.padding-tb-15{
	padding-top: 15px;
	padding-bottom: 10px;
}
.padding-tb-100{
        padding-top: 100px;
        padding-bottom: 250px;
}

.padding-top-15{
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-left-15{
    padding-left: 15px;
}

.padding-bottom-5{
	padding-bottom:5px;
}


.border-radius-3{
	border-radius: 3px;
}

.border-grey-1{
	border: 1px solid #cccccc;
}

.border-left-3{
	border-left: 3px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.border-top-5{
	border-top: 5px solid #1b809e;
}

.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-left-width: 5px;
    border-left-color: #337ab7;
    border-radius: 3px;
    height: 40px;
    padding-top: 10px;
    background-color: rgba(100,100,100, 0.3);
}


.height-60{
	height: 60px;
}

.font-size-18{
	font-size: 18px;
	font-weight: bold;
}
