<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
            <li><a href="/"><i class="glyphicon glyphicon-home"></i> </a></li>
       <li><a href="/group">组别</a></li>
       <li class="active">新增组别</li>
    </ol>	  
    <ul class="nav nav-tabs">
      <li><a href="/group"><i class="glyphicon glyphicon-list"> </i> 组别列表</a></li>
      <li><a href="/group/add"><i class="glyphicon glyphicon-plus"> </i> 新增组别</a></li>
      <li class="active"><a href="/group/edit/{{ .Groups.Id}}"><i class="glyphicon glyphicon-plus"> </i> 编辑组别</a></li>

    </ul>
   </div>
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="col-md-12 border-grey-1 border-radius-3">
			<div class="clearfix" style="margin-bottom: 10px;"></div>
			<div id="showinfo"></div>
			<div class="clearfix" style="margin-bottom: 10px;"></div>
			<form action="/group/edit/{{ .Groups.Id }}" method="post" class="form-horizontal">
			<div class="form-group">
                          <label class="control-label col-sm-1" label-for="gname">组别名称</label>
			  <div class="col-sm-6">
				  <input type="text" class="form-control" name="gname" value="{{ .Groups.Gname}}">
			  </div>
			</div>
			<div class="form-group">
                          <label class="control-label col-sm-1" label-for="info">组别简介</label>
			  <div class="col-sm-6">
				  <input type="text" class="form-control" id="info" name="info" value="{{ .Groups.Info}}">
			   </div>
                        </div>
			<div class="clearfix" style="margin-bottom: 10px;"></div>
			<div class="form-group">
			  <div class="col-sm-7">
			<button class="btn btn-info" type="reset">取消</button>
			<button id="btn1" class="btn btn-info pull-right" type="button">保存</button>
			  </div>
			</div>
		</form>
			<div class="clearfix" style="margin-bottom: 10px;"></div>

              </div>
	</div>

</div>

	<script>
		$(document).ready(function(){
			$("#btn1").click(function(){
				var gnamev = $("input[name='gname']").val()
				var infov = $("input[name='info']").val()
				$.ajax({
					url: '/group/edit/{{ .Groups.Id }}',
					type: 'post',
					async: 'true',
					data: {gname:gnamev, info:infov},
					timeout:5000,
					dataType:'json',   
					beforeSend:function(xhr){
						console.log(xhr)
						console.log('发送前')
					},
					success: function(data){
						console.log(data.status)
						if(data.status){
					                $("#showinfo").empty();
						        $("#showinfo").removeClass("alert-danger");
						        $("#showinfo").addClass("alert alert-success");
							$("#showinfo").append(data.info);
							setTimeout(function(){ $(window).attr('location','/group'); }, 2000);
						}
					        else{
					                $("#showinfo").empty();
						        $("#showinfo").addClass("alert alert-danger");
						        var b
						        b = data.info
						        $("#showinfo").append(b);
						}
					},
					error:function(xhr,textStatus){
                                                $("#showinfo").empty();
						$("#showinfo").addClass("alert alert-danger");
                                                var b
                                                b = data.info
                                                $("#showinfo").append(b);						
						console.log(xhr)
						console.log(textStatus)
					},
				})
			});
		});
	</script>
